<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
  <h1 align="center">WELCOME TO WHISHLISTMANAGEMENT</h1>
  <nav class="navbar navbar-expand-sm btn-secondary navbar-dark bg-white">
    <a class="navbar-brand" href="">
    </a>
    <ul class="nav nav-pills ">
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="viewproductslist">Display All Products</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="viewwhishlist">Display Whishlist</a>
      </li>
    </ul>
  </nav>
  </div>
  <router-outlet></router-outlet>

  
