<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
    <table class="table table-striped" *ngIf="whishlist && whishlist.length > 0  else elseBlock">
          <thead>
          <tr>
              <th>ProductId</th>
              <th>ProductName</th>
              <th>productCatogery</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let w of whishlist">
                  <td>{{w.productId}}</td>
                  <td>{{w.productName}}</td>
                  <td>{{w.productCatogery}}</td>
              </tr>
          </tbody>
    </table>
    <ng-template #elseBlock>
        <h4 align="center"> There are no Products to display,please add the products to whishlist! </h4>
    </ng-template>
</div>
<div>
<h2>{{message}}</h2>
</div>
